h1 {text-align: center;
    color: rgb(2, 0, 122);
}
h2{
    color: rgb(2, 0, 122);
}
h3{
    color: rgb(2, 0, 122));
}
h4 {
    color: rgb(2, 0, 122));
}

body {
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.imagem1 {text-align: center;
    width: 20%;
}
.imagemcentralizada {
 text-align: center;
}

.graff {
    font-style: initial;

}
.fosko {
   color: rgb(2, 0, 122);
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 25%;
        color: rgb(2, 0, 122);
    }
    nav a:hover{  
        color: darkblue;
        text-decoration: underline0, 140, 255;
    }
